         /* 폰트 수정필요 */
         @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

         * {
             font-family: "Gowun Dodum", sans-serif;
         }
        
        /* 메인 css */
        .wrap {
            width: 800px;
            margin: 10px auto 20px auto;
        }

        .wrap>h1 {
            margin-left: 20px;
        }

        .mini-wrap {
            border: 2px solid #BFB9B6;
            border-radius: 5px;
        }

        .image {
            background-color: rosybrown;
            padding: 15px;
        }

        .member-intro {
            padding: 20px;
        }

        .form-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;


            margin-top: 20px;
        }

        .form-1>label {
            width: 100px;
            height: 35px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .form-1>span {
            width: 250px;
            height: 35px;

            background: none;
            border: none;
            outline: none;
            border-bottom: 2px solid gray;
        }

        .form-2 {
            margin-top: 20px;
            margin-left: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .form-2>label {
            width: 100px;
            margin-right: 550px;
        }

        .form-2>span {
            width: 650px;
            height: 200px;
            margin-top: 10px;

            background: none;
            border: 2px solid gray;
            border-radius: 5px;
        }

        .form-3 {
            background-color: transparent;
            display: flex;
            flex-direction: row; /* 가로로 나열 */
            
            align-items: center; 
            justify-content: center;


            margin-top: 20px;
        }

        .form-3>label {
            width: 100px;
            height: 35px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .form-3>span {
            width: 600px;
            height: 35px;

            background: none;
            border: none;
            outline: none;
            border-bottom: 2px solid gray;
        }

        .btn-icon {
            float: right;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .btn-icon button {
            background: none;
            border: none;
            padding: 0px;
            margin-top: 10px;
            margin-right: 10px;
        }

        .btn-icon:hover {
            opacity: 1;
        }

        /* 창 위에 팝업 띄우기 */
        .popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1050;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* 팝업 css */
        .wr-card {
            background-color: white;
            width: 800px;
            height: 750px;

            margin: 50px auto 50px auto;
            padding: 30px;
            border: 2px solid yellowgreen;
            border-radius: 5px;

        }

        .write-down {
            flex-direction: row;
            display: flex;
            margin-top: 30px;
            padding-left: 50px;
        }

        .write-down>label {
            width: 100px;
            height: 35px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .write-down>input {
            height: 35px;
            width: 300px;

            border: none;
            outline: none;
            border-bottom: 2px solid #BFB9B6;

        }

        .write-down>textarea {
            width: 300px;
            height: 200px;

            border: 1px solid #BFB9B6;
            outline: 1px solid #BFB9B6;
            border-radius: 5px;
        }

        .etcbtn>button {
            background: none;
            border: none;
            padding: 0;
        }

        .write-down>select {
            width: 300px;

            border: 2px solid #BFB9B6;
            border-radius: 5px;
            padding: 5px;
        }

        #memberimage {
            width: 450px;
            height: 450px;
            object-fit: cover;

            border-radius: 5px;
        }

        #membercomment {
            padding: 8px;
        }